# Function

In [ ]:
# default parameter

In [1]:
def mul10(a, b=10):
  c=a*b
  return c

In [3]:
y = mul10(5)
y

50

In [7]:
m = mul10(10, b=56)
m

560

In [8]:
z = mul10(23)
z

230

In [10]:
# variable length arguments

def sum_numbers(*args):
  d=sum(args)
  return d

In [12]:
y= sum_numbers(1,8,99,22,84,5,23,45)
y

287

In [13]:
# keyword arguments

In [14]:
def build_profile(first_name,last_name, **user_info):
  """Build a user profile with additional information."""

  profile = {
    'first_name': first_name,
    'last_name': last_name
  }

  # add any additional information
  for key, value in user_info.items():
    profile[key] = value

    return profile

In [16]:
user1 = build_profile("john", "kim", age=25, city="New york")
user1

{'first_name': 'john', 'last_name': 'kim', 'age': 25}

In [20]:
user2 = build_profile("chirantan","bhatta", age=24, city="BBSR", occupation="Engineer")
user2

{'first_name': 'chirantan', 'last_name': 'bhatta', 'age': 24}

# Lambda

In [21]:
squre = lambda x: x*x
print(squre(5))

25

In [22]:
def add_number(a,b):
  return a+b

In [24]:
y=add_number(5,10)
y

15

In [25]:
add_number = lambda a,b:a+b

In [26]:
add_number(3,0)

3

In [28]:
squre_num = lambda a,b:a**b

In [29]:
squre_num(2,3)

8

In [30]:
power = lambda x,y=2:x**y   # here y=2 is default
print(power(5))    # 25 (5^2)
print(power(5,3))  # 125 (5^3)

25
125

# map

In [51]:
def square(x):
  return x**2

In [44]:
nums = [1,2,4,5,8]

In [45]:
add_mul = lambda x:x*10 +5

In [46]:
out = list(map(add_mul, nums))
out

[15, 25, 45, 55, 85]

In [47]:
# Squre each number
square = list(map(lambda x: x**2, nums))
print(square)

[1, 4, 16, 25, 64]

In [52]:
s = list(map(square, nums))
print(s)   #[1,2,4,5,8]
# use map() when you want to transform each item of a list

[1, 4, 16, 25, 64]

# Filter

In [53]:
nums = [2,8,4,7,0,1,9]

In [54]:
even_num = lambda x:x%2==0
output = list(filter(even_num, nums))
output

[2, 8, 4, 0]

In [55]:
nums = [5,2,9,1,7]
print(sorted(nums))

[1, 2, 5, 7, 9]

In [59]:
sorted(nums,reverse=True)

[9, 7, 5, 2, 1]

In [60]:
words = ["apple","banana","kiwi","cherry","orange"]

In [63]:
len_char = lambda x: len(x)
sorted(words, key=len_char, reverse=True)

['banana', 'cherry', 'orange', 'apple', 'kiwi']