In [1]:
for i in range(0, 11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(0, 21):
  print(i** 2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [7]:
x=[1,4,9,10,5,4,3]

In [ ]:
for num in x:
  if num % 2 == 0:
    print(num)
    break

4

In [ ]:
i = '*'
m=5

while m<=5:
     print(i*m)

In [2]:
x=[1,4,5,7,8]
reversed_x = []
for item in x:
  reversed_x.insert(0, item)
print(reversed_x)

[8, 7, 5, 4, 1]

In [16]:
# print the elements of the following list using a loop

num = [1,4,9,16,25,9,36,49,64,9,81,100]

In [17]:
for m in num:
  print(m)

1
4
9
16
25
9
36
49
64
9
81
100

In [18]:
# search for a number x in this tuple using loop

x = 9

In [21]:
idx = 0
for n in num:
    if(n==9):
        print("Number found at idx",idx)
        continue
    idx +=1

Number found at idx 2
Number found at idx 4
Number found at idx 7

In [22]:
# wap to find the factorial of first n numbers.(using for)

n=5
fact =1

for i in range(1,n+1):
  fact *= i

print("factorial =" , fact)

factorial = 120

In [1]:
student_grades = {"Alice":95, "Bob":10 , "Sonu":20}

In [2]:
student_grades.keys()

dict_keys(['Alice', 'Bob', 'Sonu'])

In [3]:
student_grades.values()

dict_values([95, 10, 20])

In [4]:
student_grades.items()

dict_items([('Alice', 95), ('Bob', 10), ('Sonu', 20)])

In [5]:
for i in student_grades:
  print(i)

Alice
Bob
Sonu

In [7]:
for i,j in student_grades.items():
  print(i,j)

Alice 95
Bob 10
Sonu 20

In [8]:
a ="chirantan"

In [9]:
for m in a:
  print(m)

c
h
i
r
a
n
t
a
n

 # Enumerate

In [1]:
students = ['Sonu','Papu','Praveen']

In [2]:
for i,j in enumerate(students):
  print(i,j)

0 Sonu
1 Papu
2 Praveen