# Range

In [ ]:

# range (7) --> 0-6
# range (n) --> 0-(n-1)
# range (a,b) --> a-(b-1)
# range (2,5) --> 2-4

# range(start,stop,step)
# range(2,10,3) -->(2,5,8)

In [2]:
for i in range(2,10):  # range(start, stop)
  print (i)

2
3
4
5
6
7
8
9

In [3]:
for i in range(2,10,2):  # range(start,stop,step)
  print (i)

2
4
6
8

In [ ]:
# Print even number
for i in range(2,10): 
    if(i%2!=0):  
       print (i)

3
5
7
9

In [9]:
# Print number from 1 to 100

for y in range(1,100):
  print(y)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# print number from 100 to 1

for j in range(100,0,-1):
  print(j)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [12]:
# Print multiplication table of n

n = int(input("Enter number: "))

for i in range(1,11):
  print(n*i)

3
6
9
12
15
18
21
24
27
30

In [ ]:

a= range(5)
type(a)

range

In [3]:
 # convert range to list

b = list(a)
b

[0, 1, 2, 3, 4]

In [4]:
a1= range(2,10)
b1=list(a1)
b1

[2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
a2=range(2,10,3)
b2=list(a2)
b2

[2, 5, 8]

In [6]:
# odd number from 0 to 20 using for and range
for j in range(1,20,2):
  print(j)

1
3
5
7
9
11
13
15
17
19

In [7]:
#  using for and range we have print squre of number from 0 to 20

for m in range (0,21):
  print(m**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [8]:
# print the even number from the list using for loop

y=[1,4,9,10,5,4,3]

In [9]:
for t in y:
  if(t%2==0):
    print(t)

4
10
4

In [14]:
# print the first even number
for i in y:
  if(i%2==0):
    print(f"even number:{i}")
    break

even number:4

In [15]:
# print odd number from the list and skip even number using continue

for i in y:
  if i%2==0:
    continue
    print(f"even number:{i}")
  else:
    print(f"odd number:{i}")

odd number:1
odd number:9
odd number:5
odd number:3

In [16]:
# 2D list
a=[
  [1,2,3],
  [4,5,6],
  [7,8,9]
]

In [17]:
a[0]

[1, 2, 3]

In [18]:
a[0][1]

2

In [19]:
for i in a:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# print all element
for i in a:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [22]:
# skip 5
for i in a:
  for j in i:
    if j==5:
      continue # here continue skip only 5 then print next all element
    else:
      print(j)

1
2
3
4
6
7
8
9